.comment-form {
    justify-content: center;
    margin: auto auto 40px;
    width: 40%;
    text-align: left;
}
.form-group {
    padding-left: 0!important;
}
.comment-form .form-control {
    background: rgba(130, 139, 178, 0.11);

}
#name{
    width: inherit;
}
#email{
    width: inherit;
}
.email{
    margin: 0;
    width: -webkit-fill-available;
    padding-right: 0;
}

@media (max-width: 1000px) {
    .comment-form {
        justify-content: center;
        margin: auto auto 40px;
        width: 80%;
        text-align: left;
    }
.name{
    margin-bottom: 1rem!important;
    padding-right: 0;
}


}