.iconsP{
    background-color: black;
    display: contents;
    vertical-align: middle;
}
.article-Card{
    /*margin-top: 50px;*/
    width: 450px!important;
    justify-content: space-evenly;
    margin-right: 40px;
}
.article-Card:last-child{
    margin-right: 0;
}
.picture{

}

.buttonCard{
    background-color: #51c2d5;
}

.buttonCard:hover{
    background-color: #1687a7;
}

card{
    margin: 0 50px;
}

.icons{
    width: 20px;
    margin: 2%;
}

.iconFooter{
    text-align: right;
}

@media (max-width: 1000px) {
    .article-Card{
        width: 450px!important;
        justify-content: center;
        margin: auto;
    }

    .article-Card:last-child{
        margin: auto;
    }

}